.form-container {
  padding: 20px;
  width: 1010px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #868cb1;
  border-radius: 5px;
}

.form-container h2 {
  margin-top: 20px;
  text-align: left;
  margin-bottom: 10px;
}

.form-section {
  margin-bottom: 20px;
}

.form-row {
  margin-bottom: 10px;
}

.form-row-inline {
  display: flex;
  justify-content: space-between;
}

.form-row-inline .form-row {
  flex: 1;
  margin-right: 30px;
}

.form-row-inline .form-row:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
}

input[type="text"],
input[type="file"],
input[type="email"],
input[type="date"],
textarea,
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 10px;
}

input [type="file"]{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 20px;
  
}


textarea {
  resize: vertical;
  
}

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

.button {
  background-color: #2A5080;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 20px auto;
  display: block;

}

button:hover {
  background-color: #45a049;
}
